* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
}

:root {
  --margin: 20px;
  --margin-h: 0 25px;
  --margin-v: 25px 0;
  --margin-h-v: 25px;
  --margin-box: 5px;
  --margin-auto: 25px auto;

  --padding: 25px;

  --border: 1px solid #4d1616;
  --border-radius: 10px;
  --border-radius-small: 5px;

  --font: 15px;
  --font-color: #f8f8f2;

  --background: #1a1212;
  --background-bottom: #070404;

  --color-bold: #ff0852;
}

body {
  color: var(--font-color);
  width: 720px;
  margin: 0 auto;
  background-color: var(--background-bottom);
}

/* header content */
#titulo    { margin:    var(--margin-v); }
#titulo h2 { font-size: var(--font); color: var(--color-bold); }
#biography { font-size: var(--font); margin: var(--margin-v); }

header,
#skills,
#projects,
#certificates {
  margin: var(--margin-v);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background);
}

#container-header,
#container-skills,
#container-projects,
#container-certificates {
  width: 90%;
  margin: var(--margin-auto);
  text-align: center;
}


#box-skills,
#box-projects,
#box-certificates {
  margin: var(--margin-box);
  border: var(--border);
  display: inline-block;
  padding: var(--padding);
  border-radius: var(--border-radius-small);
  background-color: var(--background-bottom);
}

h3 {
  margin: var(--margin-v);
}

header a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 35px;
}

header a:hover {
  color: var(--color-bold);
  transition: 800ms;
}

/* ICONS */
/* ul utilizado apenas nos icons */
ul     { list-style-type: none }
ul li  { display: inline-block }

#container-skills i {
  padding: 5px;
  font-size: 50px;
  color: var(--font-color);
}
#container-skills i:hover {
  color: var(--color-bold);
  transition: 700ms;
}

.box-skills {
  display: inline-block;
  font-size: 12px;
}

.box-skills:hover {
  color: var(--color-bold);
  transition: 700ms;
}

.box-skills p {
  margin-top: 5px;
}


@media (max-width:720px) {
  body {
    width: 90%;
  }

  #container-header,
  #container-skills,
  #container-projects,
  #container-certificates {
    width: 100%;
  }

  #box-projects,
  #box-certificates {
    margin: var(--margin);
  }

  .box-skills {
    margin: var(--margin-box);
    padding: 10px;
  }
}